<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huohuzhihui.door.mapper.DoorAuthMapper">
    
    <resultMap type="DoorAuth" id="DoorAuthResult">
        <result property="id"    column="ID"    />
        <result property="doorId"    column="door_id"    />
        <result property="accId"    column="acc_id"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
        <result property="cardNo"    column="card_no"    />
        <result property="stuCode"    column="stu_code"    />
        <result property="isWrited"    column="is_writed"    />
        <result property="bsCardNo"    column="bs_card_no"    />
        <result property="authExtend"    column="auth_extend"    />
    </resultMap>

    <sql id="selectDoorAuthVo">
        select ID, door_id, acc_id, start_time, end_time, create_by, create_time, update_by, update_time, del_flag, remark, card_no, stu_code, is_writed, bs_card_no, auth_extend from t_door_auth
    </sql>

    <select id="selectDoorAuthList" parameterType="DoorAuth" resultMap="DoorAuthResult">
        <include refid="selectDoorAuthVo"/>
        <where>  
            <if test="doorId != null "> and door_id = #{doorId}</if>
            <if test="accId != null "> and acc_id = #{accId}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="cardNo != null  and cardNo != ''"> and card_no = #{cardNo}</if>
            <if test="stuCode != null  and stuCode != ''"> and stu_code = #{stuCode}</if>
            <if test="isWrited != null "> and is_writed = #{isWrited}</if>
            <if test="bsCardNo != null  and bsCardNo != ''"> and bs_card_no = #{bsCardNo}</if>
            <if test="authExtend != null  and authExtend != ''"> and auth_extend = #{authExtend}</if>
        </where>
    </select>
    
    <select id="selectDoorAuthById" parameterType="String" resultMap="DoorAuthResult">
        <include refid="selectDoorAuthVo"/>
        where ID = #{id}
    </select>
        
    <insert id="insertDoorAuth" parameterType="DoorAuth">
        insert into t_door_auth
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="doorId != null">door_id,</if>
            <if test="accId != null">acc_id,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="cardNo != null">card_no,</if>
            <if test="stuCode != null and stuCode != ''">stu_code,</if>
            <if test="isWrited != null">is_writed,</if>
            <if test="bsCardNo != null">bs_card_no,</if>
            <if test="authExtend != null">auth_extend,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="doorId != null">#{doorId},</if>
            <if test="accId != null">#{accId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="cardNo != null">#{cardNo},</if>
            <if test="stuCode != null and stuCode != ''">#{stuCode},</if>
            <if test="isWrited != null">#{isWrited},</if>
            <if test="bsCardNo != null">#{bsCardNo},</if>
            <if test="authExtend != null">#{authExtend},</if>
         </trim>
    </insert>

    <update id="updateDoorAuth" parameterType="DoorAuth">
        update t_door_auth
        <trim prefix="SET" suffixOverrides=",">
            <if test="doorId != null">door_id = #{doorId},</if>
            <if test="accId != null">acc_id = #{accId},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="cardNo != null">card_no = #{cardNo},</if>
            <if test="stuCode != null and stuCode != ''">stu_code = #{stuCode},</if>
            <if test="isWrited != null">is_writed = #{isWrited},</if>
            <if test="bsCardNo != null">bs_card_no = #{bsCardNo},</if>
            <if test="authExtend != null">auth_extend = #{authExtend},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteDoorAuthById" parameterType="String">
        delete from t_door_auth where ID = #{id}
    </delete>

    <delete id="deleteDoorAuthByIds" parameterType="String">
        delete from t_door_auth where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>