<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huohuzhihui.account.mapper.AccRechargeMapper">
    
    <resultMap type="AccRecharge" id="AccRechargeResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="amount"    column="amount"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="payChannel"    column="pay_channel"    />
        <result property="status"    column="status"    />
        <result property="userName"    column="user_name"    />
        <result property="mobile"    column="phonenumber"    />
    </resultMap>

    <sql id="selectAccRechargeVo">
        select id, user_id, amount, create_time, create_by, pay_channel, status from acc_recharge
    </sql>

    <select id="selectAccRechargeList" parameterType="AccRecharge" resultMap="AccRechargeResult">
        select r.id, r.user_id, r.amount, r.create_time, r.create_by, r.pay_channel, r.status ,u.user_name,u.phonenumber
        from acc_recharge r
        left join sys_user u on r.user_id=u.user_id
        <where>  
            <if test="userId != null "> and r.user_id = #{userId}</if>
            <if test="amount != null  and amount != ''"> and r.amount = #{amount}</if>
            <if test="payChannel != null  and payChannel != ''"> and r.pay_channel = #{payChannel}</if>
            <if test="status != null "> and r.status = #{status}</if>
            <if test="mobile != null   and mobile != ''"> and u.phonenumber = #{mobile}</if>
        </where>
    </select>
    
    <select id="selectAccRechargeById" parameterType="Long" resultMap="AccRechargeResult">
        select r.id, r.user_id, r.amount, r.create_time, r.create_by, r.pay_channel, r.status ,u.user_name,u.phonenumber
        from acc_recharge r
            left join sys_user u on r.user_id=u.user_id
        where r.id = #{id}
    </select>
        
    <insert id="insertAccRecharge" parameterType="AccRecharge" useGeneratedKeys="true" keyProperty="id">
        insert into acc_recharge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="amount != null">amount,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="payChannel != null">pay_channel,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="payChannel != null">#{payChannel},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateAccRecharge" parameterType="AccRecharge">
        update acc_recharge
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="payChannel != null">pay_channel = #{payChannel},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAccRechargeById" parameterType="Long">
        delete from acc_recharge where id = #{id}
    </delete>

    <delete id="deleteAccRechargeByIds" parameterType="String">
        delete from acc_recharge where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>