<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huohuzhihui.account.mapper.AccSubsidyMapper">
    
    <resultMap type="AccSubsidy" id="AccSubsidyResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="amount"    column="amount"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="mobile"    column="phonenumber"    />
        <result property="userName"    column="user_name"    />
    </resultMap>

    <sql id="selectAccSubsidyVo">
        select id, user_id, amount, create_by, create_time from acc_subsidy
    </sql>

    <select id="selectAccSubsidyList" parameterType="AccSubsidy" resultMap="AccSubsidyResult">
        select s.id, s.user_id, s.amount, s.create_by, s.create_time,u.user_name,u.phonenumber from acc_subsidy s
        left join sys_user u on s.user_id=u.user_id
        <where>  
            <if test="userId != null "> and s.user_id = #{userId}</if>
            <if test="amount != null  and amount != ''"> and s.amount = #{amount}</if>
            <if test="mobile != null and mobile != ''"> and u.phonenumber = #{mobile}</if>
        </where>
    </select>
    
    <select id="selectAccSubsidyById" parameterType="Long" resultMap="AccSubsidyResult">
        <include refid="selectAccSubsidyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAccSubsidy" parameterType="AccSubsidy" useGeneratedKeys="true" keyProperty="id">
        insert into acc_subsidy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="amount != null">amount,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateAccSubsidy" parameterType="AccSubsidy">
        update acc_subsidy
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAccSubsidyById" parameterType="Long">
        delete from acc_subsidy where id = #{id}
    </delete>

    <delete id="deleteAccSubsidyByIds" parameterType="String">
        delete from acc_subsidy where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>